<a href="#">
    <twig:InvoiceCardMedium
        id="{{ id }}"
        paymentDue="{{ paymentDue }}"
        clientName="{{ clientName }}"
        total="{{ total }}"
        status="{{ status }}"
    />
    <twig:InvoiceCardSmall
        id="{{ id }}"
        paymentDue="{{ paymentDue }}"
        clientName="{{ clientName }}"
        total="{{ total }}"
        status="{{ status }}"
    />
</a>
