{% form_theme form 'form/base_theme.html.twig' %}

{{ form_start(form, { 'attr': { 'id': 'invoiceForm' }}) }}
<div class="md:pl-[157px]  px-6 flex flex-col gap-7">
	<div class="flex flex-col gap-12">
		<twig:InvoiceFormAddress form="{{ form.senderAddress }}"/>
		<twig:InvoiceFormClient form="{{ form.client }}"/>
		<div class="flex flex-col gap-6 sm:grid sm:grid-cols-2">
			{{ form_row(form.paymentDue) }}
			{{ form_row(form.paymentTerms) }}
			{{ form_row(form.description, {'row_attr': {'class' : 'sm:col-span-full'}}) }}
		</div>
	</div>
	<twig:InvoiceFormItemList form="{{ form.items }}"/>
</div>
{{ form_end(form) }}
